*{
    margin: 0;
}

#title{
    color: rgb(90, 26, 26);
}
#color-palette{
    margin-top: 10px;
}
.color {
    border: black solid 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.pixel {
    background-color: white;
    border: black 1px solid;
    width: 40px;
    height: 40px;
    display: table-cell;
}
#pixel-board {
    margin-top: 30px;
}

